<div class= "top_index">

	<div class= "top_index_img_div">
		<p>"自分らしく" 終えるための</p>
		<h1>LastNote</h1>
  </div>


	<div class ="list_position">
		<h1>最期こそ〝あなたらしく”</h1>
		<p>
		あなたが家族に遺せるのは、なんでしょうか。</br>
		EndingNoteでは、あなたのご家族を思う</br>
		「こころ」を遺すお手伝いをいたします。</br>
		遺影写真やメッセージに加え、葬儀のさいのご要望など</br>
		「あなたらしいあなた」をご家族の元へ届けます。
		</p>

		<div >
			<ul>
				<li>
				<h2>写真</h2></br>
				<%= image_tag "picture.jpg", class: "img_size img-circle"%></br>
				<p>「その日が来るまで」</br>
				お預かりします。</br>
				お写真は遺影写真として</br>
				ご利用いただけます。</br>
				</li>

				<li>
				<h2>エンディングフォーム</h2></br>
				<%= image_tag "form.jpg", class: "img_size img-circle"%></br>
				<p>その日が来た時、</br>
				あなたの大切な人たちが</br>
				困らないように。</br>
				あなたの気持ち、残しておきましょう。</p>
				</li>

				<li>
				<h2>メッセージ</h2></br>
				<%= image_tag "message.jpg", class: "img_size img-circle" %></br>
				<p>本当は伝えたい。</br>
				普段中々言葉にできない気持ちを、</br>
				あなたの代わりに伝えます。</p>
				<li>
			</ul>
		</div>
	</div>

</div>

