<!DOCTYPE html>

<html>

<%= image_tag "hero.jpg" %>

 <section>
        <h3>"自分らしく"終えるための終活ノート</h3>
        <h2>EndingNote</h2>
 </section>


<div>
トップページの記述
トップページの記述
トップページの記述
トップページの記述
トップページの記述
トップページの記述
トップページの記述
トップページの記述
トップページの記述
トップページの記述
</div>


</body>
</html>