<div class= "logout">

    <div class="panel panel-info panel_adj">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <p>ログアウトしました。</p>
      </div>
    </div>


    <div class= "response_text">
          <a href="/">トップページへ戻る</a>
    </div>
</div>

