
<div class="panel panel-info panel_adj contents">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <p>メッセージを保存しました。</p>
      </div>
</div>


    <div class= "response_text">
          <a href="/users/<%= current_user.id %>/messageposts">メッセージ一覧へ戻る</a>
    </div>
