<div class="users_content">
<div class= "message_update contents">

    <div class="panel panel-info panel_adj">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <p>メッセージを変更しました。</p>
      </div>
    </div>


    <div class= "response_text">
          <a href="/users/<%= current_user.id %>/messageposts">メッセージ一覧へ戻る</a>
    </div>
</div>
</div>