<div class= "endingform_update contents">

    <div class="panel panel-info panel_adj">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <p>写真の削除が完了しました。</p>
      </div>
    </div>


    <div class= "response_text">
          <a href="/users/<%= current_user.id %>/pictures">Ending Formへ戻る</a>
    </div>
</div>

