
<div class= "picture_index contents">

<h1>保存している写真</h1>

 <% current_user.pictures.each do |picture| %>

  <div class="row" >
    <div class="col-xs-12 col-md-3 picture_margin">
    <!-- <p><<%= picture.title %>></p> -->
      <a href="#" class="thumbnail">
        <img src="<%= picture.portrait %>" alt="写真">
      </a>

      <%= link_to '削除', user_picture_path(current_user, picture), method: :delete, style: "float: right;"%>
    </div>
  <div>
<% end %>



<div class= "btn_position2">
      <a href="/users/<%= current_user.id %>/pictures/new", class= "btn btn-primary btn-lg">写真を保存する</a>
</div>

</div>