写真の表示ができるページ

<div>
  <% current_user.pictures.each do |picture| %>
    <p><%= picture.title %></p>
    <img src="<%= picture.portrait %>">

    <li>
        <%= link_to '削除', user_picture_path(current_user, picture), method: :delete %>
    </li>

  <% end %>
</div>

<div>
  <a href="/users/<%= current_user.id %>/pictures/new">写真を保存する</a>
</div>