<div class="users_content">
<div class= "contentns">
    <div>
      <h3>
        Ending Form を保存しました。
      </h3>
      <a href="/users/<%= current_user.id %>/form">Ending Formへ戻る</a>
    </div>
</div>
</div>