.picture_index {
  margin: 0 auto;
}

.picture_margin {
  margin-top: 60px;
  padding:10px;
}

.picture_index h1 {
  font-size: 22px;
  text-align: center;
  margin: 70px auto;
}

.picture_index {
  width: 90%;
}

.picture_new  {
  width: 90%;
  margin: 0 auto;
}

.picture_new div {
  margin: 30px 20px;
}


.pictures_index_img_div {
  border: 1.5px solid gray;
  border-radius: 1em;
  width: 380px;
  height: 380px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  // padding: 10px;
  margin: 30px auto 0;
}


.delete_button {
  margin: 320px 10px 10px 320px;
  border: 1px solid gray;
  background-color: transparent;
  text-align: center;
}

.picture_title{
  text-align: center;
  // margin: 0 8px 0 8px;
}

.pictures_index_img_div p {
  border-top-right-radius: 1em;
  border-top-left-radius:  1em;
  background-color: black;
  opacity: 0.7;
}
