
.contents p,
.contents a{
 /* color: black;*/
  font-family: "Arial","メイリオ","ヒラギノ角ゴ Pro","ＭＳ Ｐゴシック","sans-serif";
}

.contents {
  padding-top: 70px;
}

header {
  height: 70px;
  background-color: black;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.header_font{
  color: white;
}

.mypage_header {
  background-color: #337ab7;
  /*height: 150px;*/
}

.mypage_header ul li a{
  color: white !important;
}

.float_left {
  margin: 0;
  float: left;
}

.float_right {
  margin: 0;
  float: right;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

header ul li {
  margin: 0;
  float: left;
  list-style: none;
  padding-right: 10px;
}

header ul li a{
  font: white;
}




.emphasis_box {
  padding: 5px 10px 5px 10px;
  border: 1px solid white;
}

.header_div {
  margin: 0px 10px 10px 0px;
  font: white;
}


/*footer {
  height: 230px;
  width: 100%;
  background-color: #95badf;
}

footer a, footer p {
  color: white;
}

footer ul li {
  margin: 0;
  float: left;
  list-style: none;
  padding-right: 10px;
}

footer p {
  text-align: center;
}

footer {
  padding: 20px;
}

footer div {
  width: 70%;
  margin: 30px auto 50px auto;
}


*/

