
.contents p,
.contents a{
 /* color: black;*/
  font-family: "Arial","メイリオ","ヒラギノ角ゴ Pro","ＭＳ Ｐゴシック","sans-serif";
}

.contents {
  padding-top: 70px;
}

.top header {
  /*height: 70px;*/
  background-color: white ;
  opacity: 0.8;
  position: fixed;
  width: 100%;
 /* position: fixed;*/
}


.float_left {
  float: left;
}

.float_right {
  float: right;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

header ul li {
  margin: 0;
  float: left;
  list-style: none;

 /* padding-right: 10px;*/
}

header ul li a{
  color: black !important;
  font-size: 12px;
}




.emphasis_box {
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
}

.emphasis_box2 {
  padding: 5px 10px 5px 10px;
  border: 1px solid white;
}

.devise_div {
  width: 80%;
  margin: 40px auto 0;
}

.inputbox_size{
width: 30px;
}


.mypage_header a {
  color: white;
}

.mypage_header {
  background-color: #337ab7;
 /* height: 45px;*/

}

.mypage_header ul li a{
  color: white !important;
}

.main {
  width:  100%;
  height: 40px;
}

.logo_size {
  width: 25%;
  float: left;
  margin: 20px 0 0 20px;
}

.div_size {
  width: 70%;
}


/*以下タブメニュー*/

/*
*/












/*footer {
  height: 230px;
  width: 100%;
  background-color: #95badf;
}

footer a, footer p {
  color: white;
}

footer ul li {
  margin: 0;
  float: left;
  list-style: none;
  padding-right: 10px;
}

footer p {
  text-align: center;
}

footer {
  padding: 20px;
}

footer div {
  width: 70%;
  margin: 30px auto 50px auto;
}


*/


.users_content {
  background-color: white;
}


nav ul {
  margin: 40px 0 0 0;
}

.tabs{
  /*border-radius: 6px 6px 0 0;*/
  display: inline-block;
  line-height: 40px;
  font: sans-serif;
  text-align: center;
  background-color: #EEEEEE;
  color: black;
  margin-left: 4px;
  text-decoration: none;
  width: 20%;
  padding: 0;
  /*border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;*/
  /*padding: 2px;*/
}


.tab1 { border-top: 6px solid tomato; }
.tab2 { border-top: 6px solid gold; }
.tab3 { border-top: 6px solid orange; }
.tab4 { border-top: 6px solid green; }


.selected {
  background-color: white ;
  color: black;
}

.tabs:hover {
  background-color: white;
}



