
p, a {
  color: black;
  font-family: "Arial","メイリオ","ヒラギノ角ゴ Pro","ＭＳ Ｐゴシック","sans-serif";
}


header {
  /*height: 100px;*/
  background-color: white;
}

.mypage_header {
  background-color: #95badf;
  height: 150px;

}

.float_left {
  margin: 0;
  float: left;
}

.float_right {
  margin: 0;
  float: right;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

header ul li {
  margin: 0;
  float: left;
  list-style: none;
  padding-right: 10px;
}

.emphasis_box {
  padding: 10px 20px 10px 20px;
  border: 2px solid black;
}

.header_div {
  margin: 30px 10px 20px 0px;
}


footer {
  height: 230px;
  width: 100%;
  background-color: #95badf;
}

footer a, footer p {
  color: white;
}

footer ul li {
  margin: 0;
  float: left;
  list-style: none;
  padding-right: 10px;
}

footer p {
  text-align: center;
}

footer {
  padding: 20px;
}

footer div {
  width: 70%;
  margin: 30px auto 50px auto;
}




