/*.users_content{
  height: 700px;
  width: 960px;
  background-color: #F5F5DC;
}*/


.users_content table {
   font-size:14px;
   border:1px solid #CCCCCC;
   width: 85%;
   margin: 5px auto;
   }

.users_content .table_title {
  font-size: 20px;
  color: black;
}

.users_content table th,
.users_content table td {
  border: 1px solid #CCCCCC;
  padding:5px 8px;
}

.users_content table th {
  background-color: #a9a9a9;
  color: white;
  width: 150px;
}

.users_content h1 {
  font-size: 24px;
  text-align: center;
  margin: 40px auto;
}

.img_size2 {
  width: 80px;
  height: 80px;
  display:block;
  margin: 0 auto;
}

.users_content{
  width: 100%;
}

.userpage_photos ul {
  padding: 0;
  text-align: center;
}

.userpage_photos li{
  list-style: none;
  float: left;
  margin: 40px auto 0;
  width: 33%;
}

.userpage_photos li label {
  text-align: center;
}

.userpage_photos li div {
  width: 83px;
  margin: 0 auto;
}


#progressbar_position{
  width:80%;
  margin: 0 auto;
}


/*#items li{
  list-style: none;
  float: left;
  margin: 0 auto;
  width: 33%;
}*/
